<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.is.main.member.MemberDAO">
  	<!-- 로그인 -->
  	<select id="getLogin" resultType="MemberDTO" parameterType="MemberDTO">
  		SELET * FROM MEMBER
  		WHERE ID=#{id} AND PW=#{pw}
  	</select>
     <!--회원수정  -->
     <update id="setMemberUpdate" parameterType="MemberDTO">
     	UPDATE MEMBER SET
     	PW=#{PW},NAME=#{name},EMAIL=#{email},BIRTH=#{birth}
     	WHERE ID=#{id}
     </update>
     
     
     
   	<!-- 로그아웃 -->
   	<select id="getLogout" resultType="MemberDTO" parameterType="MemberDTO">
   	
   	</select>
   	
  </mapper>